<div id="contas" class="row">
    <h2 class="text-center contas-border">Listagem de Contas de Utilizador</h2>   
    <nav>
        <ul class="pager">
            <li>
            <a href="#" data-bt="a" aria-label="Anterior" disabled>
            <span aria-hidden="true">&laquo;</span>
            </a>
            </li>              
                {{#each pages}}
                    <li><a value="{{this}}" href="#">{{this}}</a></li>
                {{/each}}
            <li>
              <a href="#" data-bt="s" aria-label="Seguinte" disabled>
            <span aria-hidden="true">&raquo;</span>
            </a>
            </li>
        </ul>
    </nav>
    <div class="row">
        {{#each contas}}
        <div class="row stylish-panel">
            {{#each this}}
            <div class="col-md-3">
                <div>
                    <h5><b>Número de Conta</b> <br> {{this.id}}</h5>
                    <h5><b>Nome</b> <br> {{this.nome}}</h5>
                    <h6><b>Tipo Cliente</b> <br> {{this.tipo}}</h6>
                    <h6><b>Tipo Conta</b> <br> {{this.conta}}</h6>                   
                    <a href="#" class="btn btn-conta" data-id="{{this.id}}" title="See more"><i class="glyphicon glyphicon-user"></i> Ver mais</a>
                </div>
            </div>
            {{/each}}
        </div>
    {{/each}}    
</div>
</div>