<div id="cvis" class="row">
    <h2 class="text-center indi-border">Listagem de Canais de Venda Indirecta</h2>
    <div class="row">
        {{#each cvis}}
        <div class="row stylish-panel">
            {{#each this}}
            <div class="col-md-3">
                <div>
                    <img src="{{this.foto}}" alt="Foto de Canal Venda Indirecta" class="img-small img-circle img-thumbnail">
                    <h3>{{this.nome}} <br> {{this.apelido}}</h3>
                    <p><b>Marca: </b>{{this.marca}} <br> <b>Subtipo: </b> {{this.subtipo}}</p>
                    <a href="#" class="btn btn-indi" data-id="{{this.id}}" title="See more"><i class="glyphicon glyphicon-user"></i> Ver mais</a>
                </div>
            </div>
            {{/each}}
        </div>
    {{/each}}    
</div>
</div>