<div id="instaladores" class="row">
    <h2 class="text-center instaladores-border">Listagem de Instaladores</h2>
    <div class="row">
        {{#each instaladores}}
        <div class="row stylish-panel">
            {{#each this}}
            <div class="col-md-3">
                <div>
                    <img src="{{this.foto}}" alt="Texto Alternativo" class="img-small img-circle img-thumbnail">
                    <h3>{{this.nome}} <br> {{this.apelido}}</h3>
                    <p><b>Marca: </b>{{this.tipo}} <br> <b>Categoria: </b> {{this.categoria}}</p>
                    <a href="#" class="btn btn-warning" data-id="{{this.id}}" title="See more"><i class="glyphicon glyphicon-user"></i> Ver mais</a>
                </div>
            </div>
            {{/each}}
        </div>
    {{/each}}    
</div>
</div>