<div id="cvds" class="row" style="margin-top:5px">
    <ul class="nav nav-pills">
        <li role="presentation" class="active"><span data-type="l" href="#" >Listagem</span></li>
        <li role="presentation"><span data-type="g" href="#" >Gráficos</span></li>
    </ul>
    <div id="listagem-cvds">
        <h2 class="text-center cvd-border"> Canais de Venda Directa - Listagem </h2>   
        <nav>
            <ul class="pager">
                <li>
                <a href="#" data-bt="a" aria-label="Anterior" disabled>
                <span aria-hidden="true">&laquo;</span>
                </a>
                </li>              
                    {{#each pages}}
                        <li><a value="{{this}}" href="#">{{this}}</a></li>
                    {{/each}}
                <li>
                  <a href="#" data-bt="s" aria-label="Seguinte" disabled>
                     <span aria-hidden="true">&raquo;</span>
                  </a>
                </li>
            </ul>
        </nav>
        <div class="row">
            {{#each cvds}}
            <div class="row stylish-panel">
                {{#each this}}
                <div class="col-md-3">
                    <div>
                        <img src="{{this.foto}}" alt="Foto de Canal Venda Directa" class="img-small img-circle img-thumbnail">
                        <h3>{{this.nome}} <br> {{this.apelido}}</h3>
                        <p><b>Marca: </b>{{this.marca}} <br> <b>Subtipo: </b> {{this.subtipo}}</p>
                        <a href="#" class="btn btn-cvd" data-id="{{this.id}}" title="See more"><i class="glyphicon glyphicon-user"></i> Ver mais </a>
                    </div>
                </div>
            {{/each}}
            </div>
        {{/each}}    
        </div>
    </div>
    <div id="graficos">
        <h2 class="text-center cvd-border"> Canais de Venda Directa - Análise Gráfica (Bairro) </h2>
        <div class="row">
            <div id="bairro_sel" class="col-md-6 col-lg-6 col-sm-12"></div>
        </div>
        <div class="row">
            <div class="col-md-6 col-lg-6 col-sm-12">
                <div id="n-prod-gotv"></div>
            </div>
            <div class="col-md-6 col-lg-6 col-sm-12">
                <div id="v-prod-gotv"></div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6 col-lg-6 col-sm-12">
                <div id="n-prod-dstv"></div>
            </div>
            <div class="col-md-6 col-lg-6 col-sm-12">
                <div id="v-prod-dstv"></div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6 col-lg-6 col-sm-12">
                <div id="t-n-prod"></div>
            </div>
            <div class="col-md-6 col-lg-6 col-sm-12">
                <div id="t-v-prod"></div>
            </div>
        </div>
    </div>
</div>